<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Host" value="192.168.2.33"/>
    <add key="Port" value="1521"/>
    <add key="Service" value="SIT08001"/>
    <add key="Username" value="tw08"/>
    <add key="Password" value="pproot08"/>
  </appSettings>
</configuration>
